{% extends 'index.html' %}

{% block content %}

<div class="about-section">
  <h1>About Us Page</h1>
  <p>[NEWS ROOM] is your reliable source for breaking news, insightful analysis, and thought-provoking commentary. Our dedicated team of journalists is committed to delivering accurate and unbiased reporting on a wide range of topics, from local stories to global events. Stay informed with us as we navigate the ever-changing landscape of today's news.

    .</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src=" https://th.bing.com/th/id/OIP.WtoC6pKL-E_742h70fPvdAHaE-?rs=1&pid=ImgDetMain="Jane" style="width:100%">
      <div class="container">
        <h2>vandana shinde</h2>
        <p class="title">Developer</p>
        <p>Python developer from CIST Bhopal</p>
        <p>vandana@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://th.bing.com/th/id/OIP.Ki_mPqKAarY4QfieJ40R3AHaEr?w=892&h=564&rs=1&pid=ImgDetMain" alt="Misri" style="width:100%">
      <div class="container">
        <h2>shivani chouksey</h2>
        <p class="title">Art Director</p>
        <p>"I'm Mistri Yeo, and I'm passionate about writing engaging content for businesses.".</p>
        <p>shivani@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://img.freepik.com/premium-photo/hispanic-female-executive-standing-modern-office-setting-dressed-formal-business-attire_191555-4425.jpg" alt="monalisa" style="width:100%">
      <div class="container">
        <h2>sakshi shukla</h2>
        <p class="title">Designer</p>
        <p>I'm Monalisa Yeo, and I'm passionate about writing engaging content for businesses..</p>
        <p>sakshi@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>



{% endblock %}